.services{
    padding: 51px 0 50px;
}
.services-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    padding-left: 15px;
}


.services-item{
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-item >img{
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -1;
}

.services-img{
    width: 293px;
    height: 293px;
    mask-image: url('../assets/icons/mask-polygon.svg');
    -webkit-mask-image: url('../assets/icons/mask-polygon.svg');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    object-fit: contain;
}
.services-img img{
    width: 100%;
    object-fit: cover;
}
.services-img:hover img{
    transform: scale(1.5);
    transition: all .3s ease-in-out;
}
.services-item h3{
    text-align: center;
}


@media (max-width: 615px) {
    .services{
        padding: 0;
    }
    .services-item{
        padding-left: 15px;
    }
}