@import url(./font-stylesheet.css);
@import url(./header-style.css);
@import url(./promo-style.css);
@import url(./services-style.css);
@import url(./about-style.css);
@import url(./objects-style.css);
@import url(./certificates-style.css);
@import url(./form-style.css);
@import url(./footer-style.css);

/* -------------------------------------------reset-styles------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}

h1,h2, h3, h4, h5, h6{font-style: inherit;}

/* -------------------------------------------main-styles------------------------------------------- */
:root{
	--main-color: rgba(19, 19, 19, 1);
}

body{
	font-family: 'Gilroy', sans-serif;
	font-weight: 400;
	background-color: #FFFFFF;
	color: var(--main-color);
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
}

.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.layout{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
main{
	flex-grow: 1;
	margin-top: -175px;
	position: relative;
	z-index: -1;
}	
header, footer{
	flex-shrink: 0;
}
h1{
	font-size: 40px;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

h2{
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
}
h3{
	font-size: 24px;
	font-weight: 600;
	margin-top: 28px;
}
h5{
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 12px;
	font-weight: 400;
}
h6{
	color: rgba(224, 184, 72, 1);
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 5px;
	text-transform: uppercase;
}
section{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 100%;
}



@media (max-width: 600px) {
	.container{
		padding: 0 15px;
	}
	h2{
		font-size: 20px;
		margin-bottom: 15px;
	}
	h3{
		font-size: 18px;
	}
	h5{
		font-size: 16px;
	}
	h6{
		font-size: 12px;
		margin-bottom: 6px;
	}
	p{
		font-size: 14px;
	}
	
}